<ActionBar title="About" style="background-color: black;color: whitesmoke;"> </ActionBar>
<StackLayout class="p-10">
  <Label
    text="This is a Harry Potter Dex(HarryPodex), used for information about all things in Wizarding World Of Harry Potter"
    textwrap="true"
  ></Label>
  <Label
    text="The storyline in the novel is more complete than the movie, so please read the novel to support the author, J.K. Rowling"
    textwrap="true"
  ></Label>
  <Label
    text="Image by Pinterest"
    textwrap="true"
    style="color:lightgreen;"
  ></Label>
  <Label
  text="Developer : Abong with the contribution of Axeside"
  textwrap="true"
  style="color:lightblue;"
></Label>
  <Image src="~/app/images/hogwarts.jpg" row="0"></Image>
 
</StackLayout>

