<GridLayout rows="*, auto, *" columns="*">
    <StackLayout row="1" col="0" class="p-x-20">
      <Image src="~/app/images/sloganlogo.jpg"></Image>
      <Label
      text="Welcome to the Wizarding World of Harry Potter"
      textwrap="true"
      class="h2"
      style="text-align: center;"
    ></Label>
      <Button
        class="-primary"
        text="Login your witch ID"
        (tap)="login()"
        [isEnabled]="!loginForm.invalid"
      ></Button>
      <Button
        class="-primary"
        text="Later"
        (tap)="skip()"
        [isEnabled]="!loginForm.invalid"
      ></Button>
    </StackLayout>
  </GridLayout>
  